.containerApp {
  position:relative;
  background: url("https://images01.nicepage.com/a1389d7bc73adea1e1c1fb7e/d2322952c821563c9989f1aa/pexels-photo-3136673.jpeg");
  background-size: cover;
  background-repeat:no-repeat;
  min-height: 100vh;
  max-height: auto;
  width:100vw;
}